// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$orange-red: #EE6934;
$primary: $orange-red;
$secondary: #E5E5CC;
$green: #458E4A;
$red: #BD544D;